@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1>About</h1>
    </div>
    <div class="col-md-12">
        <p>A brief history of me.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="skills">Experience</h2>
    </div>
</div>
<div class="row descript-text">
    <div class="col-md-8">
        <h3 class="title-bold">Retail</h3>
        <p class="subHeading-small">Wurth Svenska AB</p>
        <p>Sold stuff for the construction market, from nuts and bolts to different kinds of machines</p>
    </div>
    <div class="col-md-4">
        <time>October 2016 - Decemeber 2017</time>
    </div>    
</div>
<hr>
<div class="row descript-text">
    <div class="col-md-8">
        <h3 class="title-bold">Cashier</h3>
        <p class="subHeading-small">Shell/7-11</p>
        <p>Worked in a combined gas station/convenience store, mostly selling fastfood to slightly drunk people and people on vacation.</p>
    </div>
    <div class="col-md-4">
        <time>June 2011 - September 2016</time>
    </div>
</div>
<hr>
<div class="row descript-text">
    <div class="col-md-12">
        <h2 class="skills">Skills</h2>
        <div class="subHeading-small">
            <p>Programming Languages & Tools</p>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="skill-icons">
            <li><i class="devicons devicons-html5"></i></li>
            <li><i class="devicons devicons-css3"></i></li>
            <li><i class="devicons devicons-javascript"></i></li>
            <li><i class="devicons devicons-visualstudio"></i></li>
        </ul>
    </div>
</div>



