@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1>Projects</h1>
    </div>
    <div class="col-md-12">
        <p>A brief contatc page.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>You can leave me a message by emailing me with the link below. Or not, it's up to you.</p>
        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:gix.neidhaart@gmail.com">gix.neidhaart@gmail.com</a></p>
    </div>
</div>