@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Projects</h1>
    </div>
    <div class="col-md-12">
        <p>A collection of course assignments.</p>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Type</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tr>
            <td>MVCAssignment</td>
            <td>C#</td>
            <td><a href="https://github.com/gixLearning/MVCAssignment" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>Sokoban</td>
            <td>JavaScript</td>
            <td><a href="https://github.com/gixLearning/Sokoban" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>Bootstrap</td>
            <td>JavaScript</td>
            <td><a href="https://github.com/gixLearning/Bootstrap" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>CSS</td>
            <td>HTML/CSS</td>
            <td><a href="https://github.com/gixLearning/CSS" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>HTML</td>
            <td><a href="https://github.com/gixLearning/HTML" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>ArenaFighter</td>
            <td>C#</td>
            <td><a href="https://github.com/gixLearning/ArenaFighter" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>VendingMachine</td>
            <td>C#</td>
            <td><a href="https://github.com/gixLearning/VendingMachine" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>Golf</td>
            <td>C#</td>
            <td><a href="https://github.com/gixLearning/VendingMachine" target="_blank" class="label label-info">Github</a></td>
        </tr>
        <tr>
            <td>Calculator</td>
            <td>C#</td>
            <td><a href="https://github.com/gixLearning/Calculator" target="_blank" class="label label-info">Github</a></td>
        </tr>
    </table>
</div>